iqstudio/Import/** filter=lfs diff=lfs merge=lfs -text
iqstudio/BigImport/** filter=lfs diff=lfs merge=lfs -text
testdata/**/*.aiqb filter=lfs diff=lfs merge=lfs -text
testdata/**/*.exe filter=lfs diff=lfs merge=lfs -text
testdata/**/*.jar filter=lfs diff=lfs merge=lfs -text
testdata/**/*.raw filter=lfs diff=lfs merge=lfs -text
testdata/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
testtools/image_correlation/testdata/** filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.a filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.dll filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.exp filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.lib filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.pdb filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.so filter=lfs diff=lfs merge=lfs -text
Simulator/Import/**/*.so.2 filter=lfs diff=lfs merge=lfs -text
liblab/3rdparty/**/*.a filter=lfs diff=lfs merge=lfs -text
liblab/3rdparty/**/*.cat filter=lfs diff=lfs merge=lfs -text
liblab/3rdparty/**/*.dll filter=lfs diff=lfs merge=lfs -text
liblab/3rdparty/**/*.lib filter=lfs diff=lfs merge=lfs -text
liblab/3rdparty/**/*.mod filter=lfs diff=lfs merge=lfs -text
liblab/3rdparty/**/*.so filter=lfs diff=lfs merge=lfs -text
testdata/iss/ci/images/** filter=lfs diff=lfs merge=lfs -text
testdata/iss/projects/** filter=lfs diff=lfs merge=lfs -text
